extend ../../layout

block content
    link(rel="stylesheet", href="/css/free3.css")
    script(src="/js/detail.js") 
    h2.free 게시글 수정하기
      main
        form.write(method="POST")
          input(type='text'  name="title" required='' value=`${bd.title}`)
          hr
          if bd.p_image
            div.image
            if BBD.p_image_name 
                img(src=`/uploads/${BBD.p_image_name}`,width="300px", alt=`${BBD.p_image_origin_name}`)
          textarea.text(name="content")=bd.content
          div.free
            div.user
                input(type="text" name="author" readonly value=`${bd.author}`)
                input(type="password" name='password' placeholder='PASSWORD')
            div.freebutton(data-num=`${bd.num}`)
                button.repost(data-num=`${bd.num}`) 재게시
                button.return 돌아가기