extends freeboard

block list_content
  link(rel="stylesheet", href="/css/free.css")
  script(src="/js/freeboard.js") 
  table.list
    thead 
      tr
        th No.
        th 제목
        th 글쓴이
        th 게시일자
    tbody
      each bd,index in BBD
        tr(data-num=`${bd.num}`) 
          td #{index+1}
          td= bd.title
          td= bd.author 
          td= bd.date
